/* TABLET DEVICE */
@media (max-width:768px) {
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .footer .grid,
    .feature-head .grid,
    .feature-sub-head .grid,
    .docs-head .grid,
    .feature-main .grid,
    .docs-main .grid{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .showcase {
        height: auto;
    }
    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }
    .showcase-form {
        justify-self: center;
    }
    .cli .grid > *:first-child {
        grid-row: 1;
        grid-column: 1;
    }

    .feature-head,
    .feature-sub-head,
    .docs-head {
        text-align: center;
    }

    .feature-head img,
    .feature-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .feature-main .grid .card:nth-child(1),
    .feature-main .grid .card:nth-child(2),
    .feature-main .grid .card:nth-child(3),
    .feature-main .grid .card:nth-child(6){
        grid-column: 1;
    }
    .showcase-text {
        animation: slideInFromTop 1s ease-out;
    }
    .showcase-form {
        animation: slideInFromBottom 1s ease-out;
    }
}


/* MOBILE DEVICE */
@media (max-width:500px) {
    .navbar {
        height: 110px;
    }
    .navbar .flex {
        flex-direction: column;
    }
    .navbar ul {
        background-color: rgba(0,0,0,.2);
        padding: 10px;
    }
    .showcase-form {
        width: 90%;
    }
}